body {
    background-image: url(../img/lacebackground.jpg);
    font-family: calibri, trebuchet ms, sans-serif;
}

#container {
    width: 500px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    padding: 10px;
    background-color: #B4A692;]
}

h1 {
    color: white;
    text-shadow: 2px 2px #888888;
}

p {
    color: white;
    font-size: 1.1em;
}

h2 {
    color: white;
    clear: both;
}

#stupid_hidden, #mindblown_hidden {
    display: none;
    clear: both;
    text-align: left;
}

#dress {
    float: left;
    padding-left: 50px;
}

#whatcolor {
    float: right;
    width: 200px;
    padding-right: 20px;
}

#stupid {
    float: left;
}

#mindblown {
    float: right;
}

#clearfix {
    clear: both;
}