body {
    background-color: #61004c; 
}

#container {
    width: 230px;
    margin: auto;
    margin-top: 15px;
    background-color: #dddddd;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 8px 8px 3px #332B33;
}